:root {
  --black-color: #000;
  --violett-color: #5842bc;
  --white-color: #fff;
  --grey-color: #0002;
  --blue-color: #0a58ca;
  --creame-color: #f0eff5;
  --yellow-color: #fdb900;

  --linear-gradient: linear-gradient(
    90deg,
    rgba(80, 30, 156, 1) 0%,
    rgba(129, 105, 241, 1) 50%,
    rgba(255, 132, 127, 1) 100%
  );
}
