@use 'variables' as var;

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: calc(100% - (var(--gap) * 2));

  padding: 0 var(--gap);

  @media (min-width: var.$mobile) {
    width: 540px;
  }

  @media (min-width: var.$tablet) {
    width: 720px;
  }

  @media (min-width: var.$desktop) {
    width: 1170px;
  }

  @media (min-width: var.$large) {
    width: 1320px;
  }
}
